# An Analysis of NFL Receivers in the 2018 Season

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv('CleanWorkingData/ReceivingStats2018Cleaned.csv')

In [2]:
#NOTE we can put this whole cell into a function if we have more receiving stat files
df.replace('wr','WR', inplace=True) #fixing naming inconcistency 
df.replace('rb','RB', inplace=True)
df.replace('rb','RB', inplace=True)
df.dropna(subset=['Pos'], inplace=True) #dropping players with no position
df['Ctch%'] = df.apply(lambda x: df['Rec'] / df['Tgt']) #recreating catch% column for pandas

#creating values to filter datapoints with low game data to improve quality
acceptable_games = 5
acceptable_targets = 10

df = df[df['G'] >= acceptable_games] #filtering out players that did not play enough

acceptable_positions = ['WR','RB','TE'] #creating a list of acceptable positions

#This function takes in the row's position value and checks if it is an acceptable one, returns True if so
def _valid_position_cleaner(x):
    if x in acceptable_positions:
        return True
    else:
        return False
    

#redefning df to hold only data of players with an acceptable position
#lamba function takes the row's postion value and passes it to helper function to see if it is okay
#returns a df where all the rows in the lambda function returned true
df = df[df['Pos'].apply(lambda x: _valid_position_cleaner(x) == True)]
df.head()

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb
0,Michael Thomas,NOR,25,WR,16,16,147,125,0.850340,1405,11.2,9,72,9.6,7.8,87.8,2
1,Zach Ertz,PHI,28,TE,16,16,156,116,0.743590,1163,10.0,8,34,7.5,7.3,72.7,1
2,DeAndre Hopkins,HOU,26,WR,16,16,163,115,0.705521,1572,13.7,11,49,9.6,7.2,98.3,2
3,Julio Jones,ATL,29,WR,16,16,170,113,0.664706,1677,14.8,8,58,9.9,7.1,104.8,2
4,Adam Thielen,MIN,28,WR,16,16,153,113,0.738562,1373,12.2,9,68,9.0,7.1,85.8,1

In [3]:
df_wr = df[df['Pos'] == 'WR'] #creating df of WRs
df_wr = df_wr[df_wr['Tgt'] >= acceptable_targets] #filtering out WRs not targeted enough
df_wr.head()
df_wr.describe()

,Age,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb
count,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000
mean,25.822222,13.066667,8.044444,65.948148,41.785185,0.626479,537.792593,12.809630,3.555556,47.518519,7.990370,3.114074,40.215556,0.703704
std,2.984704,3.394904,4.938225,40.664686,27.934728,0.098576,377.134880,2.681358,2.943920,18.750463,1.914161,1.724025,23.745997,0.922958
min,21.000000,5.000000,1.000000,10.000000,5.000000,0.362069,64.000000,6.300000,0.000000,15.000000,3.300000,0.500000,4.600000,0.000000
25%,24.000000,11.000000,3.000000,33.500000,20.000000,0.560488,257.500000,10.900000,1.000000,31.000000,6.900000,1.750000,20.750000,0.000000
50%,25.000000,14.000000,7.000000,55.000000,36.000000,0.635036,467.000000,12.700000,3.000000,46.000000,7.800000,2.800000,36.600000,0.000000
75%,27.500000,16.000000,12.500000,93.500000,60.000000,0.698890,735.000000,14.600000,5.000000,60.500000,9.150000,4.100000,52.500000,1.000000
max,35.000000,16.000000,16.000000,170.000000,125.000000,0.900000,1677.000000,21.300000,15.000000,97.000000,13.800000,7.800000,104.800000,4.000000

In [4]:
df_rb = df[df['Pos'] == 'RB']
df_rb.head()
df_rb.describe()

,Age,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb
count,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,25.432836,13.417910,7.477612,39.865672,30.253731,0.753701,246.865672,8.038806,1.417910,28.656716,6.050746,2.220896,18.194030,1.238806
std,3.215605,2.990638,4.995022,29.330352,22.996932,0.090543,198.155655,2.034845,1.818668,13.245413,1.586341,1.438174,12.869719,1.268375
min,21.000000,5.000000,1.000000,2.000000,2.000000,0.538462,20.000000,2.400000,0.000000,8.000000,1.400000,0.200000,1.800000,0.000000
25%,23.000000,12.000000,3.000000,20.000000,15.000000,0.702564,101.000000,6.750000,0.000000,19.500000,5.100000,1.250000,8.850000,0.000000
50%,24.000000,14.000000,7.000000,28.000000,21.000000,0.750000,185.000000,7.900000,1.000000,26.000000,6.000000,1.800000,14.300000,1.000000
75%,27.000000,16.000000,12.000000,51.000000,39.500000,0.804762,341.500000,9.000000,2.000000,36.500000,6.900000,2.900000,26.650000,2.000000
max,35.000000,16.000000,16.000000,124.000000,107.000000,1.000000,867.000000,15.800000,7.000000,67.000000,10.800000,6.700000,54.200000,6.000000

In [5]:
df_te = df[df['Pos'] == 'TE'] #creating df of WRs
df_te = df_te[df_te['Tgt'] >= acceptable_targets] #filtering out WRs not targeted enough
df_te.head()
df_te.describe()

,Age,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,26.970588,14.529412,11.941176,54.558824,37.647059,0.698767,441.294118,11.282353,2.911765,40.470588,7.888235,2.591176,30.467647,0.382353
std,3.049941,2.177506,2.762752,37.666150,26.038296,0.073462,337.558842,2.014865,2.366018,16.978124,1.555784,1.640097,21.704709,0.652023
min,22.000000,9.000000,8.000000,12.000000,8.000000,0.558140,72.000000,6.700000,0.000000,13.000000,4.600000,0.500000,4.800000,0.000000
25%,25.000000,14.000000,10.000000,27.750000,20.250000,0.656250,214.250000,10.025000,1.000000,29.000000,7.150000,1.325000,13.875000,0.000000
50%,27.000000,16.000000,11.500000,43.000000,28.000000,0.695437,291.500000,10.950000,3.000000,37.500000,7.750000,2.250000,23.650000,0.000000
75%,29.000000,16.000000,14.000000,72.000000,49.250000,0.730042,601.750000,12.650000,4.000000,47.000000,8.825000,3.400000,39.875000,1.000000
max,33.000000,16.000000,16.000000,156.000000,116.000000,0.916667,1377.000000,16.600000,10.000000,85.000000,11.800000,7.300000,86.100000,2.000000